# Tools
tools/antlr4
tools/cppmodsort
tools/llvm-project

# Project markers
.libcxx_made

# Project binaries
tmp/*
bin/cli/*
bin/test/*
*.o
*.a
*.so
*.out

# Text editors
compile_commands.json
.idea
*.swp

# OS
.DS_Store
