[submodule "tools/cppmodsort"]
	path = tools/cppmodsort
	url = git@github.com:d4wae89d498/cppmodsort.git
[submodule "tools/antlr4"]
	path = tools/antlr4
	url = https://github.com/antlr/antlr4.git
[submodule "tools/llvm-project"]
	path = tools/llvm-project
	url = https://github.com/llvm/llvm-project.git
